{% extends 'layout/layout.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			
			var topic = "{{ curr_sign }}";
			var qos = 0;
			var data = '{"topic": "' + topic + '", "qos": ' + qos + '}';
			socket.emit('subscribe', data=data);

			$('form').on("submit", function(e){
				e.preventDefault();
				var selectUser = $('#selectUser').val();
				var inputMsgBox = $('#inputMsgBox').val();
				$.ajax({
					type: "POST",
					url: "{{url_for('store_msg')}}",             
					data: {"selectUser" : selectUser, "inputMsgBox" : inputMsgBox}, 
					success: function(response){
						var topic = $('#selectUser').find(':selected').data('action');
						var message = $('#inputMsgBox').val();
						var ms_val =  ' @ ' + "{{curr_user}}" +'] : ' + message
						var qos = 0;
						var data = '{"topic": "' + topic + '", "message": "' + ms_val + '", "qos": ' + qos + '}';
						socket.emit('publish', data=data);
						$("#inputMsgBox").val(''); 
					}
				});
			});
			
			socket.on('mqtt_message', function(data) {
				console.log(data);
				var sign = $('#selectUser').find(':selected').data('action');
				var c_user = $('#chat_form').data('action');
				var d_content = '[' + data['time'] +  data['payload'];
				var text = (data['topic'] == "{{curr_sign}}") ? d_content : '';
				var $textarea = $('#msgBox');
				$textarea.val($textarea.val()+ '\n' + text);
			});
			
			$('#selectUser').on("change", function(){
				var v = $(this).val();
				$.ajax({
					type: "POST",
					url: "{{url_for('get_record')}}",             
					data: {"data_id" : v},   
					success: function(response){                    
	    					$("#msgBox").html(response); 
					}
				});
			});

			$('#button_send').on("click", function(){
				var today = new Date();
				var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
				var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
				var dateTime = time+' '+date;
				var ms = $('#inputMsgBox').val()
				var d_content = '[' + dateTime + ' @ ' + "{{curr_user}}" +'] : ' + ms;
				var $textarea = $('#msgBox');
				$textarea.val($textarea.val()+ '\n' + d_content);
			});

		});	
	</script>
{% endblock%}

{% block body %}
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark float-right" style="z-index:0;">
		<font style="margin-left:90%; color:white;">{{curr_user}}</font>
		<a style="margin-left:1%" href="{{ url_for('logout')}}">
			<button class="btn btn-outline-danger" type="submit">
				Logout
			</button>
		</a>
	</nav>
	<form id="chat_form" class="form-signin" method="POST" style="margin-top:3%; max-width:25%; width:100%;" data-action={{curr_user}}>
		<center>
		<h1 class="h4 mb-3 font-weight-normal"><img src="/static/open-iconic/svg/chat.svg" width=10% style="margin-right : 2%;"/>Chat Box</h1>
		<hr>
		<select class="form-control mb-1" id="selectUser" name="selectUser" required>
		<option value=''>[Choose an user to send message]</option>
		{% for u in users : %}
			{% if u[3] != curr_user: %}
				<option value={{ u[2] }} data-action={{ u[4] }}>
					{{u[0] + " " + u[1]}}
				</option>
			{% endif %}
		{% endfor %}
		</select>
		<div class="form-group mb-2">
			<textarea id="msgBox" name="msgBox" class="form-control" id="exampleFormControlTextarea1" rows="6" readonly></textarea>
		</div>
		<input type="text" id="inputMsgBox" name="inputMsgBox" class="form-control mb-3" placeholder="Enter messages to send" required autofocus />
		<button id="button_send" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
		</center>
	</form>
{% endblock %}
